@model Portfolio.ViewModels.HomeVM

<div class="Container White">
    <div class="AboutMe Panel" id="AboutMe">
        <h3>About Me</h3>
        <div class="InterestsContainer CenterBlock">

            <div class="InterestIconContainer">
                <img class="Interest" src="~/Images/AboutMe/BikeIcon.png" alt="Motorcycle" />
                <img class="Interest" src="~/Images/AboutMe/RugbyIcon.png" alt="Rugby" />
            </div>

            <div class="MeContainer">
                <img class="Me" src="~/Images/AboutMe/Me.jpg" alt="Me" />
            </div>

            <div class="InterestIconContainer">
                <img class="Interest" src="~/Images/AboutMe/GymIcon.png" alt="Gym" />
                <img class="Interest" src="~/Images/AboutMe/CodingIcon.png" alt="Coding" />
            </div>
        </div>

        <div class="DescriptionContainer CenterBlock">
            <p>
                <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b> In lobortis sodales velit id commodo. Quisque in accumsan enim. In condimentum laoreet dolor ut pellentesque. In eleifend risus sit amet nisl pulvinar, vitae elementum ligula eleifend. Nam imperdiet magna id purus ultrices lobortis. Donec varius metus magna, eu aliquet mi suscipit in. Ut a laoreet justo, sed scelerisque dui.
            </p>
        </div>

        <div class="SkillSetContainer CenterBlock">
            @foreach (var item in Model?.Skills?.Take(8))
            {
                <div class="SkillUnit">
                    <div class="SkillLabel">@item?.Name</div>
                    <div class="SkillIcon">
                        @for (int i = 0; i < 10; i++)
                        {
                            if (item?.Ranking > i)
                            {
                                <div class="SkillIconSpan Gold"></div>
                            }
                            else
                            {
                                <div class="SkillIconSpan Grey"></div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
        <a asp-action="Me" asp-controller="About">More ></a>
    </div>
</div>

<div class="Container Grey">
    <div class="Work Panel" id="Work">
        <h3>Work</h3>
        <div class="WorkContainer">
            @foreach (var item in Model?.WorkExamples?.Take(8))
            {
                <div class="WorkImg" style="background-image: url('@item.ImageUrl');">
                    <div class="ImgOverlay">
                        <p class="WorkDesc">@item?.Name</p>
                    </div>
                </div>
            }
        </div>
        <a asp-action="Work" asp-controller="About">More ></a>
    </div>
</div>

<div class="Container White">
    <div class="Clients Panel" id="Clients">
        <h3>Clients</h3>
        <div class="ClientCarousel">
            @foreach (var item in Model?.Clients?.Take(2))
            {
                <div class="SingleClient">
                    <div class="ClientLogoDesc">
                        <img src="@item?.LogoUrl" alt="@item?.Name" />
                        <p><b>@item?.ClientName</b></p>
                        <p><i>@item?.Name</i></p>
                    </div>
                    <div class="ClientQuote">
                        <p>@item?.Quote</p>
                    </div>
                </div>
            }
        </div>

        <div class="ClientLogoContainer">
            @foreach (var item in Model?.Clients?.Take(2))
            {
                <div class="ClientLogo" style="background-image: url('@item.LogoUrl')"></div>
            }
        </div>
    </div>
</div>

<div class="Container Grey">
    <div class="Contact Panel" id="Contact">
        <h3>Contact</h3>
        <div class="SocialMediaContainer">
            @foreach (var item in Model?.SocialMedias?.Take(4))
            {
                <div class="IconWrapper" onclick="window.open('@item.Url', '_blank')">
                    <img class="SocialIcon" alt="@item.Name" src="@item.ImageUrl" />
                </div>
            }
        </div>
        <hr class="Bar" />
        <a href="mailto:sam_nich@live.com" class="Email">Email Me</a>
    </div>
</div>

<div class="Container White" id="EmailFormPartial">
    @Html.Partial("_ContactForm", Model.ContactForm)
</div>

@section Scripts {
}