<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sam Nicholson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <style>@Html.Raw(System.IO.File.ReadAllText("wwwroot/css/abovethefold.css"))</style>
    <link rel="shortcut icon" href="~/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,700" rel="stylesheet">
</head>
<body>
    <div class="Header" id="Header">
        <div class="TopBar">
            <a href="/">
                <div class="Logo" id="Logo"></div>
            </a>
            <nav>
                <a href="#AboutMe">About Me</a>
                <a href="#Work">Work</a>
                <a href="#Clients">Clients</a>
                <a href="#Contact">Contacts</a>
            </nav>
        </div>
        <div class="NameContainer">
            <div class="NameWrapper">
                <div class="Name">
                    <h1>Sam Nicholson</h1>
                </div>
                <div class="SubHeader">
                    <span>Designer</span>
                    <span>//</span>
                    <span>Optimiser</span>
                    <span>//</span>
                    <span>Developer</span>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer>
        <div class="LinkContainer">
            <a href="#Header">
                <div class="FooterLogoContainer">
                    <img src="~/Images/Header/Logo.svg" alt="Logo" class="FooterLogo" />
                </div>
            </a>
            <div class="FooterText">
                <div class="FootLinksContainer">
                    <a href="#AboutMe">About Me</a>
                    <a href="#Work">Work</a>
                    <a href="#Clients">Clients</a>
                    <a href="#Contact">Contact</a>
                </div>
                <div class="CopyrightContainer">
                    <p class="CopyRight">All Content Copyright @DateTime.UtcNow.Year</p>
                </div>
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="~/css/all.css" asp-append-version="true" lazyload="1" />
    <script src="~/js/all.js" asp-append-version="true" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
